<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/51ovM3kH-rL._AC._SR360,460.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dinosaurs</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/I/8134xaTHM7L._AC._SR360,460.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Granny's Tree Climbing</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/I/8179ACzzCIL._AC._SR360,460.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Experiment</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/I/9108wDGWCSL._AC._SR360,460.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Inni $ Bobo</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/51oquaQOEAL._AC._SR360,460.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">FairyTales</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/51chFLcBI5L._AC._SR360,460.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">101Stories</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/81seu48cujS._AC_UL480_QL65_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Caterpiller Story</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSbpyvaqROCx_DzQx5O8bx6ouMmY8sHmQcmCaVDT89WPByS57h8hBSMsnnqRUl17n5p5hZXZgoDYg&usqp=CAc" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lifechange</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGv06TNL1BzoUoFsY66shVohh7bW9914lu27Vgz0jJ&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Alchemist</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO33om40sZezAME19k-VsOfVToAv3irp7GzE1v9IcU&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">You Can</h5>
                          
                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
